<h1>New search</h1>

<%= render 'form' %>

<% @twitter.each do |twitter| %>
<p>
<%= link_to "Twitter Feed", "http://twitter.com/#{twitter.user.screen_name}", :target => "_blank" %>
<%=raw display_content_with_links(twitter.text) %>
<%= twitter.created_at.strftime("%d/%m/%Y %H:%M") %>
<%end%>

