<%if @search.venues.count ==  0 %>
  <div>
    <p>Sorry, no matches for your search!</p>
  </div>
 <%else%>
   <% @search.venues.each do |venue| %>
    <div>
      <h1>Matching venue:</h1>
      <h2>Name: <%= link_to venue.name, venue %></h2>
      <p>Address: <%= venue.address1 + ' ' + venue.address2 + ' '  + venue.address3 + ' ' + venue.address4 %></p>
    </div>
<%end%>
<%end%>
