// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//venues index view

table.venue { border: 1px solid #E0E0D1;
	padding: 2px;
	}
th.venue, td.venue{ padding:3px;
	border: 1px solid #E0E0D1;
	}

//venues show view

div.venue_show_all_content{ position: relative;
	}

div.venue_photo{ position: relative;
	float: left;}

div.venue_photo_button{ position: relative;
top: -25px;
margin-top: 25px;
}

div.map_photo{
	position: relative;
	float: left;
	margin-bottom: 20px;
	width: 980px;
}

div.venue_map{ position: relative;
	float: left;
	margin-left: 50px;
	margin-top: 45px;
	top: -50px;
	border: 6px solid #333;
	}

div.venue_details { position: relative;
margin-bottom: 50px;

}

div.venue_address{ position: relative;
	float: left;
	left: 200px
	}


div.venue_rating{ position: relative;
	float: left;
	left: 250px;}


div.review_venue_headings{ position: relative;

top: 125px;
right: 300px
}


div.venue_review_title{ position: relative;
top: 25px;
}

div.venue_spacer{ position: relative;
width:980px;
height: 10px;
margin: 15px;
}

div.admin_text_venue_review { position: relative;
float:left;
left: 300px;
z-index: 4;
bottom: 30px;
width: 980px;
margin-bottom: 25px;
}

div.add_review_button_venue_show{ position: relative;
	top: 10px;
	margin-bottom: 60px;
	padding:0px;
	}

div.venue_show_all_reviews{ position: relative;
	margin-left: 120px;
	top: 125px;
	padding:0px;
	width: 500px;
	padding: 0px;
	margin-bottom: 100px;
	margin-top: 50px;

	}


div.review_last_updated_venue_show{ margin-top: -10px;
	margin-left: 275px;
	margin-bottom: 25px;
	font-size: 85%;
	}

div.one_review_in_venue_show{ position: relative;
	margin-bottom: 75px;
	}

div.venue_show_user_avatar_review{ position: relative;
	width:100px;
	padding: 0px;
	z-index: 2;
	right: 125px;
	top: 0px;
	}

.reviews_speech_bubble { position: relative;
	z-index: 1;
	padding:5px;
	margin-top: 10px;
	margin-bottom: 5px;
	top: 0px;
	text-align:left;
	color:#fff;
	margin:-125px 0 3em;
	background:#333;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	}

/* creates a rectangle of the colour wanted for the pointy bit */
.reviews_speech_bubble:before {
	content:"";
	position:absolute;
	top:-20px;
	left:50%;
	width:20px;
	height:40px;
	margin:50px 0 0 -265px;
	background:#333;
	}

/* creates a rounded rectangle to cover part of the rectangle generated above */
.reviews_speech_bubble:after {
	content:"";
	position:absolute;
	top: 30px;
	right: 500px;
	width:50px;
	height:20px;
	background:#fff;
	/* css3 */
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	}

/* creates the other rounded rectangle #fff*/
.reviews_speech_bubble > :first-child:before {
	content:"";
	position:absolute;
	top: 50px;
	right: 500px;
	width:50px;
	height:20px;
	background:#fff;
	/* css3 */
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	}

div.speech_bubble_text{ margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: -15px;
	}


p.review_summary_venue_show{ font-weight: bold;
	font-size: 150%;
	text-align: center;
	}

p.review_heading_speech_bubble{ font-weight: bold;}
