<div class="footer">
		<div>
		<ul id="footer">
			<li id="footer"><%= link_to "Home |", root_path %></li>
			<li id="footer"><%= link_to "Venues |", venues_path %></li>
			<li id="footer"><%= link_to "Users |", users_path %></li>
			<li id="footer"><a href="http://ratings.food.gov.uk/" target = "_blank" >FSA</a></li>
		</ul>
		</div>
	<%= yield :scripts %>
</div>
