<div class="footer">
		<div>
		<ul id="footer">
			<li id="footer"><%= link_to "Home |", root_path %></li>
			<li id="footer">Link2 |</li>
			<li id="footer">Link3 |</li>
			<li id="footer">Link4</li>
		</ul>
		</div>

</div>