<div class="header">
	<div class= "abardeen_title_header">
			<h1 class="abardeen_title_header"> aBARdeen* </h1>
	</div>

</div>
<div class="navbar">
			<ul id="list-nav" class="header">
				<li> <%= link_to "Home", root_path %></li>
				<li> <%= link_to "Venues", venues_path %></li>
				<li> <%= link_to "Users", users_path %></li>
				<li> <a href="http://ratings.food.gov.uk/" target = "_blank" >FSA</a></li>
			</ul>
</div>
